    <p>
      <div style="white-space: pre-wrap;text-align:left"><%= drawing %></div></br></br>
      <%= score %></br></br>
      <%= message %></br></br>
      You have <%= guesses %> guesses remaining!</br>
    </p>
