<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sinatra Hangman</title>
<style>
	div {
	margin-left: auto; margin-right: auto;
	width:50%;
	text-align: center;
	}
</style>
</head>
<body>
	
<div>  <%= yield 	 	%> 	 	</div>

</body>
</html>