<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sinatra Hangman</title>
<style>
	div {
	margin-left: auto; margin-right: auto;
	width:50%;
	text-align: center;
	}
</style>
</head>
<body>

<div>  
	<h2>Welcome to Hangman.</h2><h3>A random English word has been chosen from a dictionary. You have eight incorrect guesses before you fail!</h3>
	<%= yield 	 	%>
	<form action='/guess' method='POST'>
	  <input type='text' name='guess'/>
	  <input type='submit' value='Guess!'/></br>
	</form>
	<form style="margin-top:20px;" action='/reset' method='POST'>
	  <input type='submit' value='New Game'/></br>
	</form>
</div>

</body>
</html>